#background-slider {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.slider-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
  /* filter: grayscale(100%); */

  /* Optional: Add a transition for a smooth effect if you change the filter on hover/etc. */
  transition: filter 0.3s ease-in-out;
}

.slider-title {
  position: absolute;
  z-index: 10;
  color: var(--primary-color);
  font-size: 50px;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black,
    1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
}

.logo-futer {
  min-width: 100px;
}

.bg-darker {
  background-color: #00303d;
}

.footer-menu-added {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gallery {
  padding-top: 70px;
}

.services-container {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ffffff;
  position: relative;
  margin: 0px auto;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section,
.right-section,
.right-section {
  width: 500px;
}

.top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 150px;
}

.middle-section {
  display: flex;
  width: 80%;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.top-section h2 {
  color: #a94f1e;
  font-size: 36px;
  margin-bottom: 10px;
}

.top-section h3 {
  font-size: 18px;
  color: #c48a1b;
  text-transform: uppercase;
  margin-top: 36px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 60%;
}

.menu-section div {
  width: 100%;
}

.menu-section ul {
  list-style: disc;
  list-style-position: inside;
  padding: 0;
  /* width: 55%; */
  margin: 0px auto;
}
.menu-section b {
  color: #a94f1e;
}

.menu-section p {
  margin-top: 10px;
}

.divider {
  margin: 40px auto;
  width: 80%;
  border-top: 3px solid #d1b36d;
  margin-bottom: 200px;
}

.top-left, .top-right, .bottom-left, .bottom-right, .ornament-top, .ornament-bottom {
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.ornament-top {
  top: 0;
  left: 50;
}

.ornament-bottom {
  bottom: 0;
  left: 50;
}


@media only screen and (max-width: 1400px) {
  .menu-section-image {
    display: none;
  }

  .menu-section ul {
    width: 100%;
  }
}

@media only screen and (max-width: 940px) {
  .middle-section {
    flex-direction: column;
    align-items: center;
  }
}
